body{
    background-color: black;
    background-image: url("bryan-goff-f7YQo-eYHdM-unsplash.jpg"); 
    background-position: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    

}
h1{
    font-family: 'Jura', cursive;
    font-size: 200vw;
    color: white; 

}
h2{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    position: center; 
    color: white; 

}
.nav-link{
    font-family: 'Jura', cursive;

}


.responsive {
    max-width: 90%;
    height: auto;
}

a{
    text-decoration: none;
    color: black; 
}
.rotate {
    animation: rotation 10s;
  }
  
.linear {
    animation-timing-function: linear;
}
  
.infinite {
    animation-iteration-count: infinite;
}
  
@keyframes rotation {
    0%{transform: rotate(0deg); }
    25%{transform: rotate(30deg);} 
    50%{transform: rotate(0deg); }
    75%{transform: rotate(-30deg); }
    
    /*
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-90deg);
    }*/ 
}
  
  
