body{
    background-color: black; 

}
h1{
    font-family: 'Jura', cursive;
    font-size: 200vw;

}

.nav-link{
    font-family: 'Jura', cursive;

}

.responsive {
    max-width: 100%;
    height: auto;
  }
